img#myface{
  border-radius: 50%;
}
section#home{
  background-color: #FFFFFF;
}
section#about-timeline{
  background-color: #dadada;
}
section#about{
  overflow: auto;
}
section#projects{
  background-color: #dadada;
}

div.image-container{
  position: relative;
  height: 80%;

}

img.project-image{
  display: block;
  width: 100%;
  height: 100%;
}

div.image-overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: rgba(0, 0, 0, 0.75);
}

div.image-container:hover div.image-overlay{
  opacity: 1;
}


p.overlay-text{
  color: white;
  font-size: 20px;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
  text-align: center;
}

a.overlay-link{
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%,-50%);
}

p.social-links a.button{
  border-radius: 50%;
}


/* Timeline style  */

.timeline{
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
   top: 0;
   bottom: 0;
   left: 50%;
   margin-left: -3px;
}

.timeline-container{
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after{
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-left{
  left: 0;
}
.timeline-right{
  left: 50%;
}

.timeline-left::before{
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

.timeline-right::before{
  content: ' ';
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-right::after{
  left: -12px;
}

.timeline-content{
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

@media screen and (max-width: 600px){
  .timeline::after{
    left: 31px;
  }

  .timeline-container{
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before{
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  .timeline-left::after, .timeline-right::after{
    left: 15px;
  }

  .timeline-right{
    left: 0%;
  }
}
