img#myface{
  border-radius: 50%;
}
section#home{
  background-color: #dadada;
}
section#about{
  overflow: auto;
}
section#projects{
  background-color: #dadada;
}

ul#nav-items{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li#home-link{
  float: left;
}

li.link a{
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li#about-link,
li#project-link{
  float: right;
}

ul.about-list{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
